<footer>
  <div>
    <p>Kenway's Games©</p>
    <p>We acceop all major credit cards <img src="https://th.bing.com/th/id/R.576ab76e67d4c67bdea8b957309ff00c?rik=Mf3KGAIbIDLazw&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f3%2fCredit-Card-Visa-And-Master-Card-PNG-HD.png&ehk=eB8%2fdX9KPCLqTj68iWx4F5ykP1tOtACuL0ro4zIR3iY%3d&risl=&pid=ImgRaw&r=0" alt="credit card picture"></p>
    <p>Developed by: Arthur Gabriel</p>
    <a href="https://github.com/arthurgmv" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/arthur-gabriel-de-menezes-viana-1223a6239/" target="_blank">Linkedin</a>
  </div>
</footer>
