*{
  display: flex;
}
p {
  padding-right: 0.5rem;
}

div {
  padding-top: 1rem;
}

img {
  height: 1rem;
}

footer {
  height: 3rem;
}

a {
  margin-right: 0.5rem;
}

/* Mobile */
@media (max-width: 600px) {
  footer {
    height: 5rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 1.5rem;
    max-width: 4rem;
  }

  p, div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 0.2rem;
  }
}

